
<!-- Sidebar -->
<nav id="sidebar" class="proclinic-bg">
    <div class="sidebar-header">
        <a href="index.html"></a>
    </div>
    </ul>
    <div class="nav-help animated fadeIn">
        <h5><span class="ti-comments"></span> Need Help</h5>
        <h6>
            <span class="ti-mobile"></span> +255 652-389-730</h6>
        <h6>
            <span class="ti-email"></span> email@chis.com</h6>
        <p class="copyright-text">Copy rights &copy; 2021</p>
    </div>
</nav>
<!-- /Sidebar -->